/**********************************/
/********** HERO SECTION **********/
/**********************************/

.section-hero {
  background-color: #405f8d;

  padding: 4.8rem 0 9.6rem 0;
  height: 100vh;
  display: grid;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}

.hero-lorem {
  color: #e7ebf1;
}

.intro {
  font-size: 4.4rem;
  color: #e7ebf1;
}
.heading-primary {
  color: #fff;
}

.main-header {
  background-color: #405f8d;
  padding: 20px 40px;
  margin-bottom: 60px;
  height: 100vh;
}

.header-img {
  /* height: 100%; */
  display: none;
  /* background-size: cover; */
}

/**********************************/
/************ Projects ************/
/**********************************/

.projects-container {
  width: 75vw;
  margin: 0 auto;
  margin-top: 12.8rem;
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  gap: 128px;
}

.project {
  padding: 48px;
  /* text-align: justify; */
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.1);
  border-radius: 24px;
  display: flex;

  gap: 32px;
}

.hero-project {
  padding: 48px;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.1);
  border-radius: 24px;
}

.hero-project .btn-container {
  margin-bottom: 12px;
}

.project-dash {
  width: 80%;
  display: block;
  margin: 0 auto;
}

.btn-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
}

.project-description {
  line-height: 1.5;
  font-size: 1.6rem;
}
.project-img {
  max-width: 50%;
  padding: auto;
  align-self: center;
}

.btn-project:link,
.btn-project:visited {
  padding: 3px 6px;
  color: #495057;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.btn-project:hover,
.btn-project:active {
  background-color: #e7ebf1;
  transition: all 0.4s;
}

.icon {
  height: 42px;
  width: 42px;
}

.github-icon {
  padding: 6px;
}
