/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

COLORS: 
#405f8d
#E7EBF1
#444
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* font-family: sans-serif; */
  font: Georgia, sans-serif;
  color: #444;
  border-bottom: solid 16px #405f8d;
}

.main-header {
  background-color: #405f8d;
  padding: 20px 40px;
  margin-bottom: 60px;
  /* height: 100%; */
  /* display: flex; */
}

.title {
  color: #fff;
  margin: auto;
}

.header-img {
  /* height: 100%; */
  display: none;
  /* background-size: cover; */
}

.projects-container {
  width: 75%;
  margin: 0 auto;
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  gap: 128px;
}

.project {
  padding: 24px;
  /* text-align: justify; */
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.1);
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.project-description {
  line-height: 1.5;
}
.project-img {
  width: 80%;
  padding: auto;
  align-self: center;
}

h1,
h2,
h3 {
  color: #405f8d;
}

h1 {
  font-size: 64px;
  letter-spacing: -1.5px;
}

h2 {
  font-size: 48px;
  margin-bottom: 30px;
}

p {
  font-size: 18px;
}

/* Styling links */
a:link,
a:visited {
  color: #405f8d;
  text-decoration: none;
}

a:hover,
a:active {
  color: #1098ad;
}
